@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: sans-serif;
}
.container{
  max-width: 1400px;
}
.login-wrap{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}